@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-blue-343: #343c6a;
  --color-blue-42: #425583;
  --color-blue-18: #1814f3;
  --color-gray-e6: #e6eff5;
  --color-gray-b1: #b1b1b1;
  --color-gray-f2: #f2f4f7;
  --color-gray-df: #dfeaf2;
  --color-primary-1: #4045ef;
  --color-primary-3: #2d60ff;
  --color-blue-71: #718ebf;
  --color-black-23: #232323;
  --color-black-33: #333b69;
  --color-black-2e: #2e3139;
  --color-red-d9: #d91b1b;
}

.active-svg svg path {
  fill: #2d60ff;
}

.inactive-svg svg path {
  fill: #b1b1b1;
}

.rsw-editor {
  border: 1px solid #dfeaf2 !important;
  min-height: 400px !important;
}

.rsw-toolbar {
  background-color: rgba(245, 245, 245, 0.5) !important;
  border-bottom: 1px solid #dfeaf2 !important;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}

.rsw-btn svg {
  width: 18px;
  height: 18px;
  margin: auto;
}

.rsw-btn[data-active="true"] {
  background-color: #343c6a !important;
  color: white;
  border-radius: 5px;
}

.rsw-btn span,
.rsw-toolbar select {
  font-size: 15px;
}

.rsw-btn{
  /* font-size: 10px !important; */
  margin: 3px !important;
}

.rsw-dd{
  font-size: 13px !important;
  height: 32px;
  padding: 0 7px;
}

.rsw-separator {
  display: none !important;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}

/* .editor:focus {
  border: 2px solid #343c6a;
}

.editor {
  outline: none;
  overflow: hidden;
  transition: all 0.3s ease;
} */

.Toastify__toast {
  text-transform: capitalize !important;
}

@media (min-width: 768px) {
  .rsw-toolbar {
    padding: 10px;
    gap: 20px;
  }
}

.dashboard-app * {
  font-family: "Inter", serif;
}

.main-content {
  min-height: calc(100vh - 95px);
}

.divider-section {
  @apply mb-3 mt-[22px] md:mb-4 md:mt-[20px] xl:mt-6;
}

.section-title {
  @apply text-[#333b69] text-base font-semibold md:text-[18px] xl:text-[22px];
}

.input-dashboard-typography {
  @apply text-black-23 text-xs font-normal;
}

.input-style {
  @apply w-full py-3 px-4 rounded-[10px] border border-gray-df text-blue-71;
}

.focus-input{
  @apply focus:border-2 focus:border-[#343c6a] transition outline-0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #daf0ea;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 0.25H2.5C1.90326 0.25 1.33097 0.487053 0.90901 0.90901C0.487053 1.33097 0.25 1.90326 0.25 2.5V11.5C0.25 12.0967 0.487053 12.669 0.90901 13.091C1.33097 13.5129 1.90326 13.75 2.5 13.75H11.5C12.0967 13.75 12.669 13.5129 13.091 13.091C13.5129 12.669 13.75 12.0967 13.75 11.5V2.5C13.75 1.90326 13.5129 1.33097 13.091 0.90901C12.669 0.487053 12.0967 0.25 11.5 0.25ZM10.225 5.2075L6.7975 9.7075C6.72763 9.79826 6.6379 9.87181 6.5352 9.92252C6.43249 9.97322 6.31954 9.99972 6.205 10C6.09108 10.0006 5.97852 9.97527 5.87586 9.92589C5.77319 9.8765 5.68313 9.80438 5.6125 9.715L3.7825 7.3825C3.72193 7.30469 3.67727 7.21571 3.65109 7.12065C3.6249 7.02558 3.6177 6.92629 3.62989 6.82844C3.64207 6.73059 3.67342 6.6361 3.72212 6.55036C3.77083 6.46463 3.83594 6.38932 3.91375 6.32875C4.07089 6.20642 4.27019 6.15152 4.46781 6.17614C4.56566 6.18832 4.66015 6.21967 4.74589 6.26837C4.83162 6.31708 4.90693 6.38219 4.9675 6.46L6.19 8.02L9.025 4.27C9.08508 4.19121 9.16009 4.12502 9.24575 4.07521C9.33141 4.02541 9.42604 3.99297 9.52424 3.97973C9.62244 3.9665 9.72228 3.97274 9.81806 3.99809C9.91385 4.02345 10.0037 4.06742 10.0825 4.1275C10.1613 4.18758 10.2275 4.26259 10.2773 4.34825C10.3271 4.43391 10.3595 4.52854 10.3728 4.62674C10.386 4.72494 10.3798 4.82478 10.3544 4.92056C10.3291 5.01635 10.2851 5.10621 10.225 5.185V5.2075Z' fill='%234045EF'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: cover;
}
